body {
    height: 100%;
}

.filters label{
    display: block;
    transition: color, 0.2s;
    cursor: pointer;
}

.filters label:hover{
    color: #0C51AB;

}
.filters label input {
    margin: 5px;
}
